body{
    background-color:#E6D3B3;  /*beige*/
   /*margin:0;
    pading:0;*/
    display:flex;
   justify-content:center;
}

/*page 01*/


 h1 {
    background-color:#160F0A;  /*espresso*/
    color:#E6D3B3;  /*beige*/
    font-family: sans-serif;
    font-size:60px;
    padding:25px;
    margin:0;
} 

nav {
    background-color:#341E11;  /*coffee*/
    padding:5px;
    position:sticky;
    display:flex;
    justify-content:flex-end;

}

nav a {
    color:#CDB286;  /*sand*/
    text-decoration:none;
    font-weight:bold;
    margin-left:20px;

}

nav:hover {
    color:#A8763E;  /*camel*/
}

.form-container {
    background-color:#CDB286;  /*sand*/
    width:700px;
    height:600px;
    border-radius:15px;
    justify-content:center;
}

label{
    display:block;
    margin-bottom:5px;
    font-weight:bold;
}

input{
    width:90%;
    
}



